.navbar{
    background-color: rgb(226, 253, 233);
  }
  .navbar-brend{
    font-family: 'Shadows Into Light', cursive; font-size: x-large;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .div {
    width:100% ;
  }
  
  .div:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  